*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --left:1.02;
    --right:1.02;
    --color: red;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../images/snowypines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
header{
    width: 100%;
    height: 20%;

}
p{
    text-align: center;
    font-size: 24px;
}
label{
    font-size: 20px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}
#leftpanel{
    height: 33%;
    width: 45%;
}
#rightpanel{
    height: 33%;
    width: 45%;
}
#palette{
    height: 33%;
    width: 10%;
}
.container{
    display: block;
    border: none;
    height: 20%;
    width: 100%;
    padding: 1%;
    margin-top: 5%;
}
#search{
    display: block;
    margin: 2%;
}
#file{
    display: block;
    margin: 2%;
}
#rate{
    display: inline;
    margin: 2%;
}
button{
    display: inline;
    margin: 2%;
}
#block-container{
    position: relative;
    border: 3px solid green;
    height: 40%;
    width: 85%;
    left: 4%;
    top: 10%;
    padding: 0%;
    background-size: cover;
}
#leftpane{
    border: 1.5px solid black;
    width: 49.1%;
    height: 100%;
    display: inline-block;
    transform-origin: left center 0px;
    transform: scaleX(var(--left));
    background-color: var(--color);
}
#rightpane{
    position: relative;
    left: 0.5%;
    background-color: var(--color);
    display: inline-block;
    border: 1.5px solid black;
    width: 49.1%;
    height: 100%;
    transform-origin: right center 0px;
    transform: scaleX(var(--right));   
}
.withdraw{
    transform: scaleX(0.3) !important;
    transition: all 2.7s;
}
.closeLeft{
    width: 48.6%;
    transform: scaleX(var(--left));
    transition: all 2.0s;
}
.closeRight{
    width: 48.6%;
    transform: scaleX(var(--right));
    transition: all 2.0s;
}