:root{
    --left:1.0;
    --right:1.02;
    --color: red;


}
body{
    height: 100vh;
    width: 90rem;
    background-image: url(../images/snowypines.jpg);
    background-size: cover;
    margin: 0px;
}
header{
    width: 90rem;
    height: 10%;

}
p{
    text-align: center;
    font-size: 24px;
}
section{
    display: flex;
    justify-content: space-around;
    width: 90rem;
}
.container{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: 5%;
    width: 90rem;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 0%;
    margin-top: 5%;
 
}
#block-container{
    position: relative;
    border: 3px solid green;
    height: 40%;
    width: 25%;
    left: 50%;
    top: 20%;
    padding: 0%;
    background-size: cover;
}
#leftpane{
    border: 1.5px solid black;
    width: 48.6%;
    height: 100%;
    display: inline-block;
    transform-origin: left center 0px;
    transform: scaleX(var(--left));
    background-color: var(--color);
}
#rightpane{
    background-color: var(--color);
    display: inline-block;
    border: 1.5px solid black;
    width: 48.6%;
    height: 100%;
    transform-origin: right center 0px;
    transform: scaleX(var(--right));   
}
.withdraw{
    transform: scaleX(0.3) !important;
    transition: all 2.7s;
}



/* 1.012 */